In [7]:
# import packages
import pandas as pd
import numpy as np

In [8]:
# data load
df_2021 = pd.read_csv("../datasets/2021.csv", sep=';')
df_2022 = pd.read_csv("../datasets/2022.csv", sep=';')

# concat the two datasets into one
df = pd.concat([df_2021, df_2022]).reset_index(drop=True)

In [9]:
df.head(5)

,Date Time,NOx,NO2,NO,SiteID,PM10,NVPM10,VPM10,NVPM2.5,PM2.5,...,SO2,Temperature,RH,Air Pressure,Location,geo_point_2d,DateStart,DateEnd,Current,Instrument Type
0,2021-12-02T13:00:00+00:00,224.50,81.25,93.25,501,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Colston Avenue,"51.455269382758324,-2.596648828557916",2018-11-30T00:00:00+00:00,NaN,True,Continuous (Reference)
1,2021-12-02T15:00:00+00:00,224.50,98.25,82.75,501,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Colston Avenue,"51.455269382758324,-2.596648828557916",2018-11-30T00:00:00+00:00,NaN,True,Continuous (Reference)
2,2021-12-02T16:00:00+00:00,211.25,79.75,85.75,501,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Colston Avenue,"51.455269382758324,-2.596648828557916",2018-11-30T00:00:00+00:00,NaN,True,Continuous (Reference)
3,2021-12-03T03:00:00+00:00,39.25,21.75,11.50,501,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Colston Avenue,"51.455269382758324,-2.596648828557916",2018-11-30T00:00:00+00:00,NaN,True,Continuous (Reference)
4,2021-12-03T15:00:00+00:00,517.50,138.50,247.25,501,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Colston Avenue,"51.455269382758324,-2.596648828557916",2018-11-30T00:00:00+00:00,NaN,True,Continuous (Reference)

In [10]:
# checking start and end dates of concated dataset
raw_datetime =  pd.to_datetime(df['Date Time'], infer_datetime_format=True)

raw_datetime.min(), raw_datetime.max()

(Timestamp('2021-01-01 00:00:00+0000', tz='UTC'),
 Timestamp('2022-07-27 09:00:00+0000', tz='UTC'))